<ul>
  <% @order.errors.full_messages.each do |error_message| %>
    <li><%= error_message %></li>
  <% end %>
</ul>

<% # TODO: Show the uploaded pictures here, with possibility to delete or add more %>

<% # TODO: I18n for the select options %>

<% # TODO: dismiss order button %>

<% # TODO: show flashes %>

<%= form_with model: @order, multipart: true do |f| %>
  <p>
    <%= f.label :photos %>
    <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="5" data-dropzone-max-files="10">
    <%= f.file_field :photos, multiple: true, direct_upload: true, data: { 'dropzone-target': 'input' } %>
    <div class="dropzone-msg dz-message needsclick text-gray-600">
      <h3 class="dropzone-msg-title">Drag here to upload or click here to browse</h3>
      <span class="dropzone-msg-desc text-sm">5 MB file size maximum. Allowed file types png, jpg.</span>
      </div>
    </div>
  </p>

  <p>
    <%= f.label :size %>
    <%= f.select :size, Order::SIZE_OPTIONS %>
  </p>
  <p>
    <%= f.label :surface %>
    <%= f.select :surface, Order::SURFACE_OPTIONS %>
  </p>
  <p>
    <%= f.label :conversion %>
    <%= f.select :conversion, Order::CONVERSION_OPTIONS %>
  </p>
  <p>
    <%= f.label :white_frame %>
    <%= f.select :white_frame, white_frame_options %>
  </p>
  <p>
    <%= f.label :amount %>
    <%= f.number_field :amount, min: 1, step: 1 %>
  </p>
  <p>
    <%= f.label :special_requests %>
    <%= f.text_area :special_requests %>
  </p>
  <p>
    <%= f.label :delivery_method %>
    <%= f.select :delivery_method, delivery_method_select_options(@order, @locations), include_blank: true %>
  </p>
  <p>
    <%= f.label :payment_method %>
    <%= f.select :payment_method, Order::PAYMENT_METHOD_OPTIONS %>
  </p>
  <%= f.submit %>
<% end %>
