<h1><%= t('navigation.faqs') %></h1>

<h2><%= t('faqs.real_sizes.title') %></h2>
<p><strong><%= t('faqs.real_sizes.question') %></strong></p>
<p><%= t('faqs.real_sizes.answer') %></p>

<table>
  <tr>
    <th><%= t('faqs.real_sizes.table_format_name') %></th>
    <th><%= t('faqs.real_sizes.table_format_size') %></th>
  </tr>
  <tr>
    <td>9x13</td>
    <td>8,9 x 12,7 cm</td>
  </tr>
  <tr>
    <td>10x15</td>
    <td>10,2 x 15,2 cm</td>
  </tr>
  <tr>
    <td>13x18</td>
    <td>12,7 x 17,8 cm</td>
  </tr>
    <tr>
    <td>15x21</td>
    <td>15,2 x 21,6 cm</td>
  </tr>
    <tr>
    <td>15x20</td>
    <td>15,2 x 20,3 cm</td>
  </tr>
    <tr>
    <td>20x30</td>
    <td>20,3 x 30,5 cm</td>
  </tr>
    <tr>
    <td>25x38</td>
    <td>25,4 x 38,1 cm</td>
  </tr>
    <tr>
    <td>30x40</td>
    <td>30,5 x 40,0 cm</td>
  </tr>
    <tr>
    <td>30x45</td>
    <td>30,5 x 45,7 cm</td>
  </tr>
</table> 

<h2><%= t('faqs.resolution.title') %></h2>
<p><strong><%= t('faqs.resolution.question') %></strong></p>
<p><%= t('faqs.resolution.answer') %></p>

<h2><%= t('faqs.prices.title') %></h2>
<p><strong><%= t('faqs.prices.question') %></strong></p>
<p><%= t('faqs.prices.answer') %></p>
<p class='mt-4'><%= t('faqs.footer.prompt_html', email_link: link_to(t('faqs.footer.email'), "mailto:#{@email}").html_safe) %></p>
