<div class="container mx-auto mt-2 px-5">
  <h1><%= t('navigation.products') %></h1>

  <ul>
    <li><%= t('products.films') %></li>
    <li><%= t('products.cameras') %></li>
    <li><%= t('products.cards') %></li>
    <li><%= t('products.batteries') %></li>
    <li><%= t('products.albums') %></li>
    <li><%= t('products.cleaning') %></li>
    <li><%= t('products.bags') %></li>
    <li><%= t('products.random') %></li>
    <li><%= t('products.presents') %></li>
  </ul>
</div>