<h1><%= t('location.locations') %></h1>

<% @locations.each do |location| %>
  <h2><%= location.name %></h2>
  <p><%= t('location.opening_hours') %>: <%= t('location.days') %>: <%= location.opening_hours %></p>
  <br>
  <p><%= t('location.email') %>: <%= location.email %></p>
  <p><%= t('location.phone') %>: <%= location.phone %></p>
  <br>
  <p><%= t('location.address') %>:</p>
  <p><%= location.street %></p>
  <p><%= location.postcode %> <%=location.city %></p>
  <br>
  <p><%= t('location.description.title') %>: <%=location.description[I18n.locale.to_s] %></p>
<% end %>
