  <head>
    <title><%= t('title') %></title>
    <html lang=<%= I18n.locale %>>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <% # Fonts %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    <% # Favicon %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <link rel="apple-touch-icon" href=<%= asset_path('favicon-32x32.png') %>>
    <link rel="icon" type="image/png" sizes="32x32" href=<%= asset_path('favicon-32x32.png') %>>
    <link rel="icon" type="image/png" sizes="16x16" href=<%= asset_path('favicon-16x16.png') %>>
    <link rel="manifest" href=<%= asset_path('site.webmanifest') %>>
    <%= javascript_importmap_tags %>
  </head>
