<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body class='flex flex-col justify-between h-screen'>
    <div>
      <%= render 'layouts/navbar' %>
      <main class="container mx-auto mt-2 px-6 md:px-24">
        <%= render 'layouts/flashes' %>
        <%= yield %>
      </main>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
