<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <%= render 'layouts/navbar' %>
    <main>
      <%= render 'layouts/flashes' %>
      <%= yield %>
    </main>
  </body>
  <%= render 'layouts/footer' %>
</html>
